// fonts.styl

@font-face {
  font-family: 'KingsofKingsLynn';
  src: url('../fonts/KingsofKingsLynn.eot?#iefix') format('embedded-opentype'),
          url('../fonts/KingsofKingsLynn.woff') format('woff'),
          url('../fonts/KingsofKingsLynn.ttf')  format('truetype'),
          url('../fonts/KingsofKingsLynn.svg#KingsofKingsLynn') format('svg');
  font-weight: normal;
  font-style: normal;
}